<!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Nossa História
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/WW901VN0CC.jpg" alt="" width="100%" height="500" >
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                    <div class="history-pib">
                        <p>


<p>No ano de 1938, dia 30 de janeiro iniciou-se um trabalho batista de pregação do Evangelho na nova capital de Goiás, ou seja, Goiânia, no bairro Botafogo, hoje Setor Universitário. Esse projeto pioneiro teve o apoio de 25 membros ao trabalho do Missionário Daniel Crosland.</p>

<p>Na década de 40 a igreja se fortalecia, chegando a ter mais de 100 membros. Nesta década foi inaugurado o primeiro templo, no ministério do Pr. Walter Mac Nealy. Não demorou e nasceu a primeira filha, ou seja, a Segunda Igreja Batista de Goiânia, no bairro de Campinas e depois a Igreja em Nazário. Tivemos outros pastores neste período, sendo eles: Tecê Bagby, Carlos Costa e Benedito Costa (interino).</p>

<p>A igreja foi crescendo e se multiplicando e, ainda na década de 50 chegou a quase a 200 de expansão para a igreja missionária que organizou as igrejas de Vila Nova, Firminópolis, e Anápolis. Foram pastores deste tempo: Horácio Buddyn, Alfredo Viana Barbosa, Tito Assis Ribeiro, James Musgrave e Firmino Silva.</p>

<p>O Evangelho é difundido também por meio do programa de Televisão “Esta é a Resposta”, com a direção do Pr. Wanderley José Álvares, sucessor dos pastores Firmino Silva e Roberto Hensley. O pastor Wanderley José Álvares permaneceu conosco durante 33 anos, ou seja, de 1969 a 2003. A igreja continua crescendo e fazendo missões: Itumbiara, Jussara, Iporá e Setor Coimbra são foram organizadas.</p>

<p>Nos anos 70 a igreja ia penetrando suas raízes e se aprofundava com um bom testemunho em todo o Estado de Goiás. Neste período sua cooperação denominacional crescia e a igreja se levanta na campanha missionária “Cristo a Única Esperança”. Novas igrejas foram organizadas: Setor Universitário e Vila União. Nesta mesma década em 1976 chega à igreja a nossa saudosa e amada Ministra de Música, irmã Olga Ribeiro Silva, que em muito contribuiu para o crescimento musical da igreja; ficou conosco por 12 anos.</p>

<p>Nos anos 80 a igreja enfrentou novos desafios e teve novos propósitos. Iniciou a construção do arrojado novo Templo. Também neste período junto com o Campo Goiano a igreja recebeu pela primeira vez a Convenção Batista Brasileira. Em 1984 organizou com a colaboração da irmã Adélia Christino, o trabalho com surdos, que se tornou o Ministério Dynamis. Igrejas organizadas nesta década: Itatiaia, Piracanjuba, Caldas Novas, Indiara, Morrinhos, Parque das Laranjeiras, Pedro Ludovico e Bela Vista.</p>

<p>O trabalho pela expansão do Reino de Deus e o fervor missionário continuaram e, na década de 90, adotou o casal Pr. Gerson e Sônia como missionários na Romênia. Foram períodos de desafios nos quais a igreja contou com a colaboração de vários irmãos, especialmente no processo de construção do novo templo e expressou a sua Gratidão a Deus pela contribuição do presidente e do vice-presidente da comissão de construção, os irmãos Sebastião Duarte e Adamastor Gonçalves. Igrejas fundadas neste período: Vila Mutirão e Parque Anhanguera.</p>

<p>Chegamos aos anos 2000. Depois de 33 anos a frente do ministério o Pr. Wanderley se torna “Pastor Emérito”. A consciência missionária se expande. A igreja participa do PAM e ajuda no sustento do casal Ricardo e Priscilla Magalhães em Portugal. Pastores deste tempo: Wanderley José Álvares, Guilherme Ávila Ximenes, Wanderley Filho e Pr. Artur Moraes da Costa.</p>

<p>Em 15 de novembro de 2014 toma posse como Pastor-Titular o  Pr. Rubens C. Monteiro, com o intuito de conduzir a Igreja neste novo tempo, marcado pela expansão missionária, pela pregação bíblica e pelo crescimento tanto pessoal quanto numérico.</p>

<p>E o trabalho não para. Hoje, aos 77 anos a Primeira Igreja Batista em Goiânia agradecida pelas bênçãos recebidas e ciente da sua missão continua seu processo de expansão, conta com os seguintes ministérios: Dynamis (surdos); Anos Dourados e Visitação, Pr. Luiz Claudio Peixoto; Evangelismo, Ev. Luis Valter Freitas; Ministério Infantil, Miss. Vera Vianna; Ministério de Música, MM Marcus Vinícius Viana; Ministério de Educação cristã; Missionários na Romênia, Pr. Gerson e Sônia; Missionários em Portugal, Ricardo e Priscilla; Missionária no Ceará, Miss Ana Paula; Missionários na Bahia, Josivaldo e Valdelina. Temos também as nossas Missões nos bairros de: Parque Amazônia, Capuava, Vila Maria, Parque Tremendão, Hidrolândia e Bairro Floresta. E assim seguimos porque esta é a vontade de Deus.</p>

                        </p>

                    </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>
<!-- /.row -->