<!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Jesus Cristo
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/KBGFB948FI.jpg" alt="" width="100%" height="336" >
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                    <div class="about-jesus">
                        <p>
                            Jesus é o Verbo Vivo – (João 1.1-12) – que existe desde a eternidade, que veio em forma de homem para Salvar todo aquele que nele crê. Como parte do Plano eterno de Deus para salvar o homem que pecou, Cristo veio para nos dar a Vida Eterna. Ensinou, Morreu e Ressuscitou. E tendo ressuscitado ficou entre os homens, visto por testemunhas, por 40 dias e depois subiu aos Céus. E como subiu há de voltar com grande poder e glória para levar os seus.
                        </p>

                        <p>
                            Jesus é o Caminho, a Verdade e a Vida (Jo 14.6), é a Porta (Jo.10-7) no qual temos acesso ao Pai. É o Único mediador entre Deus e os homens (1 Tim 2.5). É o Cristo (portanto UNGIDO, SEPARADO, ESCOLHIDO) de Deus (Lucas 9.20). É o Pão da Vida (que satisfaz o homem definitivamente) (João 6.35), a Luz do Mundo  (Jo 8.12), tirando o mundo das trevas e nos mostrando o caminho. É o bom Pastor (10.11) que cuida das ovelhas (inclusive as perdidas). É a Ressurreição e a Vida (Jo 11.25), dando esperança da Vida Eterna (posto os que morreram em Cristo ressuscitarão). A Videira Verdadeira (15.1), no qual nós devemos ser seus ramos e dar frutos.
                        </p>
                        <p>
                            Além disso é nosso amigo melhor (João 15.15), é nosso Mestre (Mateus 22.16), nosso Senhor e nosso Salvador (Lucas 2.11), o Cordeiro de Deus que tira os pecados do mundo (João 1.29). E ainda poderia discorrer sobre inúmeros atributos do nossos Senhor, mas mesmo sendo Deus ainda assim a si mesmo se humilhou e veio até nós num ato de amor (Fil 2.5-12), a graças a Ele temos livre acesso ao Pai, onde podemos nos achegar em intimidade e amor e adorá-lo, É o Alfa e Omega, o Princípio e o Fim , o cumprimento das profecias do passado e a realização da Igreja do Presente. É a nossa Mensagem, nosso motivo, nosso guia, nossa bússola, nosso Norte, nossa direção. E ainda hoje intercede por nós à Destra de Deus (Rom 8.34).
                        </p>
                        <p>
                            Como Pedra Angular já foi dito: Desde a eternidade : “A pedra que os construtores rejeitaram, essa veio a ser a principal pedra, angular” (Salmo 118.22), aplicado pelo próprio Senhor Jesus sobre si em Mateus 21.42), repetido por Pedro no seu Sermão no Início da Igreja e depois em suas cartas (1 Pedro 2.6), anunciando que em nenhum outro nome há salvação (Atos 4.11-12).
                        </p>
                        <p>
                            Como Autor e Consumador de nossa Fé (Heb 12.2) é o Firme Fundamento, tendo sido a origem da Igreja é a base dela, que se firmando nEle jamais será abalada. Alguns se firmam em dogmas, outros em pessoas, mas nós sempre seremos e estaremos firmados em Jesus. E dEle devemos lembrar todos os dias, todos os instantes, cada momento de nossa vida
                        </p>

                    </div>



            </div>
            <div class="col-md-1">

            </div>
        </div>
<!-- /.row -->